<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>ImHearing</title>
    <meta name="description" content="ImHearing Project API Page">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
</head>

<body>
	<header>
		<div id="logo"><img src="/static/img/IH_Logo.png">ImHearing&nbsp;Project</div>
		<nav>  
			<ul>
				<li><a href="/">Home</a>
				<li><a href="https://github.com/abaruchi/ImHearing">Git Repo</a>
				<li><a href="https://html-css-js.com/css/code/">Query Data</a>
				<li><a href="https://htmlcheatsheet.com/js/">List Archives</a>
			</ul>
		</nav>
	</header>
	<section>
		<strong>API Home Page of the IMHearing Project - This Page allows you to query Records and List Available Records</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<h2>Query Records</h2>
				<p>Adds here how to query data</p>
			</article>
			<article>
				<h2>List Records</h2>
				<p>Adds here how to list records</p>
			</article>
			<article>
				<h2>Contribute</h2>
				<p>Adds here how to contribute to the project</p>
			</article>
		</main>
		<aside>
			<div>Sidebar 1</div>
			<div>Sidebar 2</div>
			<div>Sidebar 3</div>
		</aside>
	</section>
	<footer>
		<p><a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
		<address>
			Contact: <a href="mailto:artur.baruchi@gmail.com">Mail me</a>
		</address>
	</footer>
</body>
</html>