<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-wp8o{border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-mqa1{border-color:#000000;font-weight:bold;text-align:center;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-mqa1">ID</th>
    <th class="tg-mqa1">Creation<br>Date</th>
    <th class="tg-mqa1">Remote<br>Path</th>
    <th class="tg-mqa1">Removed</th>
    <th class="tg-mqa1">Size</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-wp8o">{{ archive.Archive_ID }}</td>
    <td class="tg-wp8o">{{ archive.Creation }}</td>
    <td class="tg-wp8o">{{ archive.RemotePath }}</td>
    <td class="tg-wp8o">{{ archive.Removed }}</td>
    <td class="tg-wp8o">{{ archive.Size }}</td>
  </tr>
</tbody>
</table>
</table>

<table class="tg">
<thead>
  <tr>
    <th class="tg-mqa1">Record ID</th>
    <th class="tg-mqa1">Start<br>Date</th>
    <th class="tg-mqa1">End<br>Path</th>
  </tr>
</thead>
<tbody>
<br />
{% for key, val in archive.RecordsArchived.items() %}
  <tr>
    <td class="tg-wp8o">{{ key }}</td>
    <td class="tg-wp8o">{{ archive.RecordsArchived[key]["Start"] }}</td>
    <td class="tg-wp8o">{{ archive.RecordsArchived[key]["End"] }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</table>


